@model Loango_app.Models.Edition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Edition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_edition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays_edition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays_edition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_edition }) |
    @Html.ActionLink("Back to List", "Index")
</p>
