@model Loango_app.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est_actif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est_actif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_user)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_user }) |
    @Html.ActionLink("Back to List", "Index")
</p>
